$size: 150px;
body {
  text-align: center;
  padding: 50px;
}
.display {
  font-size: 70px;
  margin-left: 500px;
  margin-top: 100px;
  display: inline-block;
  margin-top: 50px;
  width: 150px;
  height: 150px;
  perspective: 600px;
}
.cube1 {
  position: relative;
  width: inherit;
  height: inherit;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}
.cube {
  width: inherit;
  height: inherit;
  position: absolute;
  background: red;
  opacity: 0.5;
  border: solid 2px;
}
#face0 {
  transform: rotateY(180deg) translate3d(0, 0, 75px);
}
#face1 {
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
}
#face2 {
  transform: rotateY(90deg) translate3d(0, 0, 75px);
}
#face3 {
  transform: rotateX(90deg) translate3d(0, 0, 75px);
}
#face4 {
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
}
#face5 {
  transform: translate3d(0, 0, 75px);
}
.cube1:hover {
  transform: rotate(25deg);
  transform-origin: bottom left;
  transition: transform 2s;
}
.cube1:active {
  transform: rotate(300deg);
  transform-origin: bottom left;
  transition: transform 2s;
}
