div {
  background-color: green;
  height: 100px;
  width: 300px;
  color: white;
  font-size: 30px;
  box-shadow: 5px 5px 5px black;
  margin: 20px;
  display: inline-block;
}
div:hover {
  transform: translate(-10px, -10px);
  box-shadow: 15px 15px 8px black;
  transition: 0.5s;
}
div:active {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 3px black;
  transition: 0.2s;
}


// 3d box
// nav bar 
